/* <tal:block define="base_properties view/getBaseProps">
<tal:block define="dummy python:request.response.setHeader('content-type', 'text/css;; charset= iso-8859-15')" /> */

/* This style sheet still needs to be trimmed down further */

.currentMonthDay {
    color: #DEE7EC;
}

#chronos-calendar table { 
  border: 1px solid #8CACBB;
}

#chronos-calendar th {
    background-color:#DEE7EC;
    font-weight:normal;
    line-height:1.6em;
    text-align:center;
}

#chronos-calendar a {
    text-decoration: none;
}
#chronos-calendar a:hover {
    text-decoration: none;
}

#chronos-calendar th.weekday-cells {
	border-left: 1px solid <tal:block replace="base_properties/globalBorderColor" />;
}

#chronos-month td.weekHeader, 
#chronos-month th.weekHeader {
    width: 8px;
}
#chronos-month td,
#chronos-week td,
#chronos-day td {
    border: 1px solid #e1e1e1;
    width: 60px;
    vertical-align: top;
    background-color: #f5f5f5;
    text-align: left;
    padding-bottom: 8px;
}

#chronos-month td {
    height: 90px;
}

#chronos-month .weekHeader {
	text-align: center;
}

#chronos-week td,
#chronos-day td {
    padding: 0px;
}
#chronos-month td.dayNotInThisMonth a {
    display: none;
}
#chronos-month td.dayNotInThisMonth div {
    opacity: 0.6;
}
#chronos-month td span {
    text-align: right;
    display: block;
    color: #000;
}
#chronos-month td div {
    font-size: 9px;
}

#chronos-month td.monthDay {
    background-color: #fff;
}

#chronos-month td.monthDay:hover {
	
	background-color: <tal:block replace="base_properties/globalBackgroundColor" />;
}

#chronos-month td.todaynoevent {
    border: 2px solid #F18335;
}

#chronos-month td.add-event-block {
	display: none;
}

#chronos-month td.add-event-block:hover {
	display: block;
}

a.addEventShortcut {
    float: left;
}


/* CALENDAR VIEW TABS */

#calendar-view-tabs {
    background-color: transparent;
    padding: 0em 0em 0em 0em;
    white-space: nowrap;
    list-style: none;
    margin: 1em 0 0 0;
    height: auto;
    line-height: normal;
    font-size: 95%;
}

#calendar-view-tabs li {
    display: inline;
}

#calendar-view-tabs li a {
    /* The normal, unselected tabs. They are all links */
    background-color: transparent;
    border-color: <tal:block replace="base_properties/globalBorderColor" />;
    border-width: <tal:block replace="base_properties/borderWidth" />;
    border-style: <tal:block replace="string:${base_properties/borderStyle} ${base_properties/borderStyle} none ${base_properties/borderStyle}" />;
    color: <tal:block replace="base_properties/globalFontColor" />;
    height: auto;
    margin-right: 0.5em;
    padding: 0em 1.25em;
    text-decoration: none;
    text-transform: <tal:block replace="base_properties/textTransform" />;
}

#calendar-view-tabs li.selected a {
    /* The selected tab. There's only one of this */
    background-color: <tal:block replace="base_properties/globalBackgroundColor" />;
    border: <tal:block replace="string:${base_properties/borderWidth} ${base_properties/borderStyle} ${base_properties/globalBorderColor}" />;
    border-bottom: <tal:block replace="string:${base_properties/globalBackgroundColor} ${base_properties/borderWidth} ${base_properties/borderStyle}" />;
    color: <tal:block replace="base_properties/globalFontColor" />;
}

#calendar-view-tabs li a:hover {
    background-color: <tal:block replace="base_properties/globalBackgroundColor" />;
    border-color: <tal:block replace="base_properties/globalBorderColor" />;
    border-bottom-color: <tal:block replace="base_properties/globalBackgroundColor" />;
    color: <tal:block replace="base_properties/globalFontColor" />;
}

/* Fix bottom margin on tabs in IE */
#calendar-view-tabs li.selected a {
	position: relative;
}

/* Month popup */

div.chronos-popup-calendar {
    position: relative;
    z-index: 5;
    font-size: 91%;
    left: 300px;
    height: 0px;
    width: 0px;
}

div.hidden {
    display: none;
}
 
dl#calendar-navigation {
    width: 14em;
}

/* Navigation tabs */

td.calendarHeader {
  padding: 0px 5px 0px 0px;
}

div.dayTab {
  float:left;
  padding: 2px 0px 0px 0px;
  height: 0px; /* Needed to get rid of small white line in Firefox. */
}

div.navigationTabs {
  float:right;
  padding: 2px 0px 0px 0px;
}

ul.navigationTabs { /* needed? */
  padding: 1px;
}

div.navigationTabs span.unselected li {
  display: inline; 
  padding: 2px 0px 0px 5px;
  background: url(++resource++tab_unselected_left.png) top left no-repeat;
}
  
div.navigationTabs span.unselected a {
  padding: 2px 5px 0px 0px; 
  background: url(++resource++tab_unselected_right.png) top right no-repeat;
  margin: -2px 0px 0px 0px;
}

div.navigationTabs span.selected li {
  display: inline; 
  padding: 2px 0px 0px 5px;
  background: url(++resource++tab_selected_left.png) top left no-repeat;
}
  
div.navigationTabs span.selected a {
  padding: 2px 5px 0px 0px; 
  background: url(++resource++tab_selected_right.png) top right no-repeat;
  margin: -2px 0px 0px 0px;
}

#dateTabsStart {
  padding: 2px 0px 0px 1px;
  background: url(++resource++tab_selected_left.png) top left no-repeat;
}

#dateTabsMid {
  padding: 2px 0px 0px 0px;
  background: url(++resource++tab_selected_mid.png) top;
  font-weight: bold;
}

#dateTabsEnd {
  display: inline; 
  padding: 2px 0px 0px 1px;
  background: url(++resource++tab_selected_right.png) top right no-repeat;
}

/* Put in a bigger space between the listing tabs and the other tabs */

#calendar_view_tab-List {
  margin-left: 40px;
}

/* Year views */

table.yearView {
  padding: 0;
}

td.yearViewHeader {
  background-color: #9999ff;
}

table.calendarThumbnail td {
  padding: 1px;
}

.calendarThumbnail td.thisMonthHasEvent {
  font-weight: bold;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #6666aa;
  background: #aaaaff;
  text-align: center;
}

.calendarThumbnail td.thisMonthNoEvent {
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #6666aa;
  background: #eeeeff;
  text-align: center;
}

.calendarThumbnail td.otherMonthHasEvent {
  overflow: hidden;
  border-width: 0px;
  text-align: center;
}

.calendarThumbnail td.otherMonthNoEvent {
  overflow: hidden;
  border-width: 0px;
  text-align: center;
}


td.weekThumbnailDay {
  border-width: 1px;
  border-style: solid;
  border-color: #6666aa;
  background: #eeeeff;
  width: 13pt;
  text-align: center;
}

td.weekThumbnailHeader {
  border-width: 1px;
  border-style: solid;
  border-color: #6666aa;
  background: #cccccc;
  width: 13pt;
  text-align: center;
}

td.weekThumbnailWeekNo {
  width: 25pt;
  font:bold 125% Verdana, Arial, Helvetica, sans-serif !important;
  color:#666666;
  text-align: right;
}

    
/* Month view */

.dayInThisMonth {
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #6666aa;
  background: #eeeeff;
}

.dayNotInThisMonth {
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #6666aa;
  background: #cccccc;
}

div.monthDayHeader {
  background: #9999ff;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: #6666aa;
}

td.monthDay {
  padding: 2px;
  height: 80px;
  width: 90px;
}

div.monthEvent {
  overflow: hidden;
  margin: 1px;
  border-width: 0px;
  border-style: solid;
  border-color: #666666;
  background: #aaaaff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 15px;
}


/* Week and Day views */

td.hourLabels {
  vertical-align: top;
  width: 50px;
  padding: 0;
}

th.dayLabels {
  vertical-align: top;
  height: 20px;
  padding-left:6px;
}

td.dayFooter {
  /*vertical-align: top;*/
  height: 40px;
}



div.dayLabel {
  position: absolute;
  width: 14%;
}

div.hourLabel {
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: gray;
  width: 100%;
  position: absolute;
}

div.privateEvent {
  position: absolute;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #6666aa;
  background: #ffaaaa;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

div.publicEvent {
  position: absolute;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: <tal:block replace="string:${base_properties/globalBorderColor}" />;
  background: <tal:block replace="string:${base_properties/globalBackgroundColor}" />;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

div.meetingEvent {
  position: absolute;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #6666aa;
  background: #aaffaa;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

div.unauthorizedEvent {
  position: absolute;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #6666aa;
  background: #aaaaaa;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

div.confidentialEvent {
  position: absolute;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #6666aa;
  background: #ffffff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}



div.inOfficeHours {
  background-color: #fff;
}

div.outOfficeHours {
  background-color: rgb(204,204,204);
}

table.ploneCalendar div.event {
  clear: both;
  padding: 2px 8px;
}

div.eventTitle {
}

div.contextlinks {
  font-size: 75%;
}

div.eventDescription {
  clear: both;
  background-color: rgb(255,255,255);
  margin-top: 10px;
  padding: 8px 8px 8px 8px;
}

div.eventDescription table {
  width: 100%;
  border: 0px;
}

div.eventDescription table td {
  text-align: left;
  /*vertical-align: top;*/
}

div.eventDescription table th {
  text-align: left;
  /*vertical-align: top;*/
}

td.rowlabel {
  text-align: right;
  /*vertical-align: top;*/
}

/* XXX I think these next two styles are not used. However, we should probably use them,
   or start displaying this info with smallish icons or something. */
   
.needs-action {
  color: Red;
}

.tentative {
  color: #ffa500;
}

.day-event-popup
{
    visibility: hidden;
    display: none;
}

/*div.eventlist {
  border-width: 1px;
  border-style: solid;
  border-color: <tal:block replace="string:${base_properties/globalBorderColor}" />;
  padding: 5px;
}

div.event_details {
  font-weight: bold;
}

div.event_body {
  padding-bottom: 8px;
}

div.eventlist h1 {
  padding-top: 10px;
}*/

/* eventlist */
.p4acalendar .eventlist .eventlist_month {
    padding: 5px 0 5px 0;
}

.p4acalendar .eventlist H1 {
}

.p4acalendar .eventlist H2 {
	font-size: 1.25em;
}

.p4acalendar .eventlist .event {
	float: left;
	width: 100%;
	padding-bottom: 5px;
}

.p4acalendar .eventlist .event .event_details {
    float: left;
    clear: right;
    text-align: right;
	font-weight: bold;
    width: 15%;
}

.p4acalendar .eventlist .event .event_details ABBR {
	border: none;
}

.p4acalendar .eventlist .event .event_details ABBR.dtend {
	display: none;
}

.p4acalendar .event .location, .p4acalendar .day-event-popup .event .description {
	font-size: 0.8em;
}

.p4acalendar .event .location {
	color: #999;
}

.p4acalendar .eventlist .event .location {
	border-top: 1px dashed #ccc;
	padding-top: 3px;
}

.p4acalendar .eventlist .event .event_body {
    float: right;
    width: 83%;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.p4acalendar .eventlist .event .event_title {
	display: block;
}

.p4acalendar .eventlist .event .description {
	padding-top: 3px;
}

.p4acalendar .eventlist A {
    font-weight: bold;
}

/* end eventlist */
</tal:block>